### Asyncio implementation - no logging

Repeating Asyncio implementation with torch library 10 times, only monitoring the total runtime.

In [12]:
# Asyncio
mod_asyncio_results = []
for i in range(11):
  data = !python ../../../../example/imagenet.py --epochs 10 \
  --print-freq 500 \
  --num-fetch-workers 16 \
  --num-workers 4 \
  --batch-pool 256 \
  --dataset-limit 3000 \
  --batch-size 64 \
  --prefetch-factor 2 \
  --fetch-impl asyncio 
  mod_asyncio_results.append(data[-1].split(":")[1])

In [13]:
mod_asyncio_results ## total runtime in seconds

[' 156.72559475898743',
 ' 158.45774793624878',
 ' 159.21712398529053',
 ' 158.96907019615173',
 ' 159.34435987472534',
 ' 153.8767855167389',
 ' 157.03680276870728',
 ' 162.08472156524658',
 ' 151.75454354286194',
 ' 153.0406448841095',
 ' 155.47693061828613']

### Threaded implementation - no logging

Repeating Threaded implementation with torch library 10 times, only monitoring the total runtime.

In [14]:
# Threaded
mod_threaded_results = []
for i in range(11):
  data = !python ../../../../example/imagenet.py --epochs 10 \
  --print-freq 500 \
  --num-fetch-workers 16 \
  --num-workers 4 \
  --batch-pool 256 \
  --dataset-limit 3000 \
  --batch-size 64 \
  --prefetch-factor 2 \
  --fetch-impl threaded 
  mod_threaded_results.append(data[-1].split(":")[1])

In [15]:
mod_threaded_results

[' 135.12003755569458',
 ' 133.5577311515808',
 ' 137.20769000053406',
 ' 137.46790027618408',
 ' 135.9814167022705',
 ' 140.78052473068237',
 ' 143.8040897846222',
 ' 141.28272557258606',
 ' 134.85411620140076',
 ' 136.75570487976074',
 ' 136.90389680862427']

### Vanilla

In [16]:
vnl_threaded_results = []
for i in range(11):
  data = !python ../../../../example/imagenet_vanilla.py --epochs 10 \
  --print-freq 500 \
  --num-workers 4 \
  --dataset-limit 3000 \
  --batch-size 64 \
  --prefetch-factor 2 
  vnl_threaded_results.append(data[-1].split(":")[1])

In [17]:
vnl_threaded_results

[' 1165.5836746692657',
 ' 1090.7652978897095',
 ' 1097.251514673233',
 ' 1086.6000680923462',
 ' 1089.1871163845062',
 ' 1069.332929134369',
 ' 1063.8400392532349',
 ' 1056.8525087833405',
 ' 1065.3817954063416',
 ' 1060.9138841629028']

In [70]:
import pandas as pd
import numpy as np

In [71]:
vnl_results = [round(float(i), 2) for i in vnl_threaded_results]
threaded_results = [round(float(i), 2) for i in mod_threaded_results[:-1]]
asyncio_results = [round(float(i), 2) for i in mod_asyncio_results[:-1]]

In [78]:
df = pd.DataFrame([vnl_results, threaded_results, asyncio_results])
df

,0,1,2,3,4,5,6,7,8,9
0,1165.58,1090.77,1097.25,1086.60,1089.19,1069.33,1063.84,1056.85,1065.38,1060.91
1,135.12,133.56,137.21,137.47,135.98,140.78,143.80,141.28,134.85,136.76
2,156.73,158.46,159.22,158.97,159.34,153.88,157.04,162.08,151.75,153.04

In [79]:
mean = df.mean(axis=1)
var = df.var(axis=1)
std = df.std(axis=1)

mean, var, std

df["mean"] = mean.round(2)
df["var"] = var.round(2)
df["std"] = std.round(2)

df

,0,1,2,3,4,5,6,7,8,9,mean,var,std
0,1165.58,1090.77,1097.25,1086.60,1089.19,1069.33,1063.84,1056.85,1065.38,1060.91,1084.57,1016.19,31.88
1,135.12,133.56,137.21,137.47,135.98,140.78,143.80,141.28,134.85,136.76,137.68,10.62,3.26
2,156.73,158.46,159.22,158.97,159.34,153.88,157.04,162.08,151.75,153.04,157.05,10.58,3.25